[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = '==4.12.3'
grpcio = '==1.70.0'
pycryptodome = '==3.20.0'
PyJWT = '==2.8.0'
requests = '==2.31.0'
rich = '==12.6.0'
UnityPy = '>=1.10.18, <1.11.0'
protobuf = '==5.29.3'
lxml = '*'
motor = '>=3.6.0'
PyMongo = '>=4.9'

[dev-packages]

[requires]
python_version = "3.12"
